<a href="https://colab.research.google.com/github/sagudelom06/Clase-1-Ciencia-de-los-datos/blob/master/lab3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:

import numpy as np
import pandas as pd


Imprima la suma de la segunda columna.

file = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

print(file[2].sum())

190

In [68]:
#Imprima la cantidad de registros por letra para la primera columna, ordenados alfabeticamente

import pandas as pd
file = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

r = file.groupby(1).size()
r = r.reset_index()
w= [print(r.iloc[i,0],r.iloc[i,1], sep=',') for i in r.index]

A,8
B,7
C,5
D,6
E,14

In [77]:
#Imprima la suma de la columna 2 por cada letra de la primera columna, ordneados alfabeticamente.
import pandas as pd
file = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

r = file.groupby(1).sum()
r = r.reset_index()
w= [print(r.iloc[i,0],r.iloc[i,1], sep=',') for i in r.index]

A,37
B,36
C,27
D,23
E,67

In [101]:
#Imprima la cantidad de registros por cada mes.

import pandas as pd
import numpy as np
f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

f['mes'] = [z.split('-')[1] for z in f.iloc[:,2]]
r = f.groupby('mes').size()
r = r.reset_index()
w= [print(r.iloc[i,0],r.iloc[i,1], sep=',') for i in r.index]

01,3
02,4
03,2
04,4
05,3
06,3
07,5
08,6
09,3
10,2
11,2
12,3

In [110]:
#Imprima el valor maximo y minimo por cada letra de la columa 1.

import pandas as pd

f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))
r = f.groupby(1)[2].agg(['max','min'])
print(r.to_csv(header=False),end='')

A,9,1
B,9,1
C,9,0
D,7,1
E,9,1

In [144]:
import pandas as pd

f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))
r = f[5].str.split(',').tolist()
v = [i for j in r for i in j] 
w = pd.DataFrame(pd.Series(v).str.split(':').tolist())
x = w.groupby(0)[1].agg(['min','max'])
print(x.to_csv(header=False),end='')

aaa,0,9
bbb,0,9
ccc,0,9
ddd,0,9
eee,0,7
fff,0,9
ggg,0,9
hhh,0,9
iii,0,9
jjj,0,9

In [124]:
##  Para el archivo `data.csv`, genera una lista de tuplas que asocien las 
##  columnas 0 y 1. Cada tupla contiene un valor posible de la columna 2 y una
##  lista con todas las letras asociadas (columna 1) a dicho valor de la 
##  columna 2.
##
##  Rta/
##  ('0', ['C'])
##  ('1', ['E', 'B', 'D', 'A', 'A', 'E'])
##  ('2', ['A', 'E', 'D'])
##  ('3', ['A', 'B', 'D', 'E', 'E'])
##  ('4', ['E', 'B'])
##  ('5', ['B', 'C', 'D', 'D', 'E', 'E', 'E'])
##  ('6', ['C', 'E', 'A', 'B'])
##  ('7', ['A', 'C', 'E', 'D'])
##  ('8', ['E', 'E', 'A', 'B'])
##  ('9', ['A', 'B', 'E', 'C'])

import pandas as pd
f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

df = f.groupby(2)[1].apply(list)

for i in df.index:
  print(repr((i,df[i])))

(0, ['C'])
(1, ['E', 'B', 'D', 'A', 'A', 'E'])
(2, ['A', 'E', 'D'])
(3, ['A', 'B', 'D', 'E', 'E'])
(4, ['E', 'B'])
(5, ['B', 'C', 'D', 'D', 'E', 'E', 'E'])
(6, ['C', 'E', 'A', 'B'])
(7, ['A', 'C', 'E', 'D'])
(8, ['E', 'E', 'A', 'B'])
(9, ['A', 'B', 'E', 'C'])

In [181]:
##  Genere una lista de tuplas, donde cada tupla contiene en la primera 
##  posicion, el valor de la segunda columna; la segunda parte de la 
##  tupla es una lista con las letras (ordenadas y sin repetir letra) 
##  de la primera  columna que aparecen asociadas a dicho valor de la 
##  segunda columna. Esto es:
##
##  Rta/
##  ('0', ['C'])
##  ('1', ['A', 'B', 'D', 'E'])
##  ('2', ['A', 'D', 'E'])
##  ('3', ['A', 'B', 'D', 'E'])
##  ('4', ['B', 'E'])
##  ('5', ['B', 'C', 'D', 'E'])
##  ('6', ['A', 'B', 'C', 'E'])
##  ('7', ['A', 'C', 'D', 'E'])
##  ('8', ['A', 'B', 'E'])
##  ('9', ['A', 'B', 'C', 'E'])
##

import pandas as pd
f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

df = f.groupby(2)[1].apply(list)

for i in df.index:
  print(repr((i,sorted(list(set(df[i]))))))

(0, ['C'])
(1, ['A', 'B', 'D', 'E'])
(2, ['A', 'D', 'E'])
(3, ['A', 'B', 'D', 'E'])
(4, ['B', 'E'])
(5, ['B', 'C', 'D', 'E'])
(6, ['A', 'B', 'C', 'E'])
(7, ['A', 'C', 'D', 'E'])
(8, ['A', 'B', 'E'])
(9, ['A', 'B', 'C', 'E'])

In [189]:
##
##  Para el archivo `data.csv, imprima una tabla en formato CSV que contenga 
##  la cantidad de registros en que aparece cada clave de la columna 5.
##
##  Rta/
##  aaa,13
##  bbb,16
##  ccc,23
##  ddd,23
##  eee,15
##  fff,20
##  ggg,13
##  hhh,16
##  iii,18
##  jjj,18

import pandas as pd
f = pd.read_csv("data.csv", sep="\t", names=list(range(1,6)))

r = f[5].str.split(',').tolist()
v = [i for j in r for i in j] 
w = pd.DataFrame(pd.Series(v).str.split(':').tolist())
x = w.groupby(0)[1].agg(['count'])
print(x.to_csv(header=False),end='')

aaa,13
bbb,16
ccc,23
ddd,23
eee,15
fff,20
ggg,13
hhh,16
iii,18
jjj,18