<a href="https://colab.research.google.com/github/sagudelom06/Clase-1-Ciencia-de-los-datos/blob/master/LAB_Transformacion_de_archivos_con_Sed.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!ls

data.csv  sample_data

In [5]:
!cat data.csv

12/03/13;A;1;100,0
05/12/13;a;1;100,0
25/02/13;B;2;200,0
04/04/13;N;1;\N
21/06/13;\N;;
13/06/14;A;;n
12/05/14;C;\N;
05/09/14;\n;3;150,1
12/05/14;a;2;\N
28/02/13;c;\N;\N
02/08/14;A;2;100,0
1/9/2014;A;3;100,4

In [19]:
# Convierta el formato de las fechas de DD/MM/YY a YYYY-MM-DD.
%%bash
sed 's/^\([0-9]\)\/\([0-9]\)\/20\([0-9][0-9]\)/0\1\/0\2\/\3/' data.csv > data1.csv

sed 's/^\([0-9][0-9]\)\/\([0-9][0-9]\)\/\([0-9][0-9]\);/20\3-\2-\1;/' data1.csv > data2.csv
cat data2.csv

2013-03-12;A;1;100,0
2013-12-05;a;1;100,0
2013-02-25;B;2;200,0
2013-04-04;N;1;\N
2013-06-21;\N;;
2014-06-13;A;;n
2014-05-12;C;\N;
2014-09-05;\n;3;150,1
2014-05-12;a;2;\N
2013-02-28;c;\N;\N
2014-08-02;A;2;100,0
2014-09-01;A;3;100,4

In [51]:
#Transforme el archivo para que todos los campos nulos aparezcan como \N.


!sed 's/;;/;\\N;/' data2.csv > data3.csv
!sed 's/;.$/;\\N/' data3.csv> data4.csv
!sed 's/;n/;\\N/' data4.csv> data5.csv
!sed 's/;N;/;\\N/' data5.csv>data6.csv
!sed 's/;\\n;/;\\N/' data6.csv>data7.csv
!cat data7.csv | tr '[:lower:]' '[:upper:]' > data8.csv
!cat data8.csv

2013-03-12;A;1;100,0
2013-12-05;A;1;100,0
2013-02-25;B;2;200,0
2013-04-04;\N1;\N
2013-06-21;\N;\N;\N
2014-06-13;A;\N;\N
2014-05-12;C;\N;\N
2014-09-05;\N3;150,1
2014-05-12;A;2;\N
2013-02-28;C;\N;\N
2014-08-02;A;2;100,0
2014-09-01;A;3;100,4

In [52]:
!sed 's/;.$/;\\N/' data8.csv>data9.csv #cambia los ; del final por N
!cat data9.csv

2013-03-12;A;1;100,0
2013-12-05;A;1;100,0
2013-02-25;B;2;200,0
2013-04-04;\N1;\N
2013-06-21;\N;\N;\N
2014-06-13;A;\N;\N
2014-05-12;C;\N;\N
2014-09-05;\N3;150,1
2014-05-12;A;2;\N
2013-02-28;C;\N;\N
2014-08-02;A;2;100,0
2014-09-01;A;3;100,4

In [53]:
#Use el . para indicar decimales.

!sed 's/,/./g' data9.csv>data10.csv
!cat data10.csv

2013-03-12;A;1;100.0
2013-12-05;A;1;100.0
2013-02-25;B;2;200.0
2013-04-04;\N1;\N
2013-06-21;\N;\N;\N
2014-06-13;A;\N;\N
2014-05-12;C;\N;\N
2014-09-05;\N3;150.1
2014-05-12;A;2;\N
2013-02-28;C;\N;\N
2014-08-02;A;2;100.0
2014-09-01;A;3;100.4

In [54]:
#Reemplace los ; por ,.

!sed 's/;/,/g' data10.csv>data11.csv
!cat data11.csv

2013-03-12,A,1,100.0
2013-12-05,A,1,100.0
2013-02-25,B,2,200.0
2013-04-04,\N1,\N
2013-06-21,\N,\N,\N
2014-06-13,A,\N,\N
2014-05-12,C,\N,\N
2014-09-05,\N3,150.1
2014-05-12,A,2,\N
2013-02-28,C,\N,\N
2014-08-02,A,2,100.0
2014-09-01,A,3,100.4