<a href="https://colab.research.google.com/github/sagudelom06/Clase-1-Ciencia-de-los-datos/blob/master/Operaciones_b%C3%A1sicas_en_SQLite3ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

##
## Apertura de la conexión
##
import sqlite3
conn = sqlite3.connect(':memory:')  ## aca se indica el nombre de la db.
cur = conn.cursor()

In [0]:

## importa la librería
import pandas as pd
import numpy as np
pd.set_option('display.notebook_repr_html', True)

In [40]:
truck_event_text_partition = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/truck_event_text_partition.csv",
    sep = ',',         # separador de campos
    thousands = None,  # separador de miles para números
    decimal = '.')     # separador de los decimales para números

truck_event_text_partition.to_csv(
    'truck_event_text_partition.csv',
    sep=',',
    index = False,
    header = True)

truck_event_text_partition

       driverId  truckId  ...                               routeName      eventDate
0            14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
1            18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
2            27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
3            11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
4            22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
5            22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
6            23       68  ...           Joplin to Kansas City Route 2  2016-05-27-22
7            11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
8            20       41  ...           Des Moines to Chicago Route 2  2016-05-27-22
9            32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
10           27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
11           17       15  ...          Springfield to KC Via Columbia  2016-05-27-22
12           14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
13           28       39  ...   Springfield to KC Via Hanibal Route 2  2016-05-27-22
14           15       51  ...                   Joplin to Kansas City  2016-05-27-22
15           16       12  ...                  Saint Louis to Memphis  2016-05-27-22
16           31       18  ...          Memphis to Little Rock Route 2  2016-05-27-22
17           25       96  ...                  Memphis to Little Rock  2016-05-27-22
18           14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
19           22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
20           32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
21           24       97  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
22           25       96  ...                  Memphis to Little Rock  2016-05-27-22
23           29       66  ...          Wichita to Little Rock Route 2  2016-05-27-22
24           22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
25           18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
26           19       26  ...              Wichita to Little Rock.kml  2016-05-27-22
27           26       57  ...             Saint Louis to Tulsa Route2  2016-05-27-22
28           16       12  ...                  Saint Louis to Memphis  2016-05-27-22
29           21      109  ...          Memphis to Little Rock Route 2  2016-05-27-22
...         ...      ...  ...                                     ...            ...
17045        26       17  ...             Saint Louis to Tulsa Route2  2016-06-02-20
17046        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17047        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17048        31       48  ...           Des Moines to Chicago Route 2  2016-06-02-20
17049        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17050        26       17  ...             Saint Louis to Tulsa Route2  2016-06-02-20
17051        15       32  ...                  Memphis to Little Rock  2016-06-02-20
17052        24       68  ...               Des Moines to Chicago.kml  2016-06-02-20
17053        22       24  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17054        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17055        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17056        20       79  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17057        17       92  ...          Springfield to KC Via Columbia  2016-06-02-20
17058        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17059        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17060        23       66  ...                  Saint Louis to Memphis  2016-06-02-20
17061        12       74  ...                   Joplin to Kansas City  2016-06-02-20
17062        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17063        13       12  ...                  Saint Louis to Chicago  2016-06-02-20
17064        24       68  ...               Des Moines to Chicago.kml  2016-06-02-20
17065        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17066        11       27  ...           Saint Louis to Chicago Route2  2016-06-02-20
17067        30       95  ...           Saint Louis to Chicago Route2  2016-06-02-20
17068        31       48  ...           Des Moines to Chicago Route 2  2016-06-02-20
17069        22       24  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17070        11       27  ...           Saint Louis to Chicago Route2  2016-06-02-20
17071        16       46  ...           Joplin to Kansas City Route 2  2016-06-02-20
17072        18       49  ...           Springfield to KC Via Hanibal  2016-06-02-20
17073        10       39  ...                    Saint Louis to Tulsa  2016-06-02-20
17074        19      100  ...              Wichita to Little Rock.kml  2016-06-02-20

[17075 rows x 12 columns]

In [32]:
drivers = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/playground/master/datasets/drivers/drivers.csv",
    sep = ',',         # separador de campos
    thousands = None,  # separador de miles para números
    decimal = '.')     # separador de los decimales para números

drivers.to_csv(
    'drivers.csv',
    sep=',',
    index = False,
    header = True)

drivers

    driverId                 name  ...  certified wage-plan
0         10    George Vetticaden  ...          N     miles
1         11       Jamie Engesser  ...          N     miles
2         12          Paul Coddin  ...          Y     hours
3         13          Joe Niemiec  ...          Y     hours
4         14           Adis Cesir  ...          Y     hours
5         15         Rohit Bakshi  ...          Y     hours
6         16           Tom McCuch  ...          Y     hours
7         17          Eric Mizell  ...          Y     hours
8         18            Grant Liu  ...          Y     hours
9         19           Ajay Singh  ...          Y     hours
10        20         Chris Harris  ...          Y     hours
11        21         Jeff Markham  ...          Y     hours
12        22        Nadeem Asghar  ...          Y     hours
13        23            Adam Diaz  ...          Y     hours
14        24          Don Hilborn  ...          Y     hours
15        25  Jean-Philippe Playe  ...          Y     hours
16        26         Michael Aube  ...          Y     hours
17        27      Mark Lochbihler  ...          Y     hours
18        28      Olivier Renault  ...          Y     hours
19        29           Teddy Choi  ...          Y     hours
20        30             Dan Rice  ...          Y     hours
21        31        Rommel Garcia  ...          Y     hours
22        32       Ryan Templeton  ...          Y     hours
23        33    Sridhara Sabbella  ...          Y     hours
24        34         Frank Romano  ...          Y     hours
25        35          Emil Siemes  ...          Y     hours
26        36        Andrew Grande  ...          Y     hours
27        37            Wes Floyd  ...          Y     hours
28        38           Scott Shaw  ...          Y     hours
29        39         David Kaiser  ...          Y     hours
30        40     Nicolas Maillard  ...          Y     hours
31        41        Greg Phillips  ...          Y     hours
32        42      Randy Gelhausen  ...          Y     hours
33        43          Dave Patton  ...          Y     hours

[34 rows x 6 columns]

In [33]:

timesheet = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/playground/master/datasets/drivers/timesheet.csv",
    sep = ',',         # separador de campos
    thousands = None,  # separador de miles para números
    decimal = '.')     # separador de los decimales para números}

timesheet.to_csv(
    'timesheet.csv',
    sep=',',
    index = False,
    header = True)

timesheet

      driverId  week  hours-logged  miles-logged
0           10     1            70          3300
1           10     2            70          3300
2           10     3            60          2800
3           10     4            70          3100
4           10     5            70          3200
5           10     6            70          3300
6           10     7            70          3000
7           10     8            70          3300
8           10     9            70          3200
9           10    10            50          2500
10          10    11            70          2900
11          10    12            70          3100
12          10    13            70          3300
13          10    14            70          3300
14          10    15            70          3300
15          10    16            70          3400
16          10    17            70          3300
17          10    18            70          3300
18          10    19            70          3300
19          10    20            30          1200
20          10    21            50          2500
21          10    22            70          3300
22          10    23            70          3300
23          10    24            70          3300
24          10    25            70          3300
25          10    26            60          2600
26          10    27            66          2700
27          10    28            33          1200
28          10    29            70          3300
29          10    30            70          3300
...        ...   ...           ...           ...
1738        43    23            48          2655
1739        43    24            48          2641
1740        43    25            53          2512
1741        43    26            48          2612
1742        43    27            58          2614
1743        43    28            60          2551
1744        43    29            55          2682
1745        43    30            49          2504
1746        43    31            51          2701
1747        43    32            57          2554
1748        43    33            52          2730
1749        43    34            54          2783
1750        43    35            51          2681
1751        43    36            51          2655
1752        43    37            46          2629
1753        43    38            58          2739
1754        43    39            47          2535
1755        43    40            50          2512
1756        43    41            51          2701
1757        43    42            55          2538
1758        43    43            58          2775
1759        43    44            56          2545
1760        43    45            46          2671
1761        43    46            57          2680
1762        43    47            50          2572
1763        43    48            52          2517
1764        43    49            56          2743
1765        43    50            59          2665
1766        43    51            58          2593
1767        43    52            48          2764

[1768 rows x 4 columns]

En el siguiente código se crea crea la tabla de eventos de los conductores en el sistema; la primera instrucción borra la tabla si ya existe.

[5]:

In [0]:
##
## executescript() permite enviar varios comandos de SQL
## en la misma cadena de texto.
##

conn.executescript("""
DROP TABLE IF EXISTS truck_events;

CREATE TABLE truck_events (driverId       INT,
                           truckId        INT,
                           eventTime      STRING,
                           eventType      STRING,
                           longitude      DOUBLE,
                           latitude       DOUBLE,
                           eventKey       STRING,
                           correlationId  STRING,
                           driverName     STRING,
                           routeId        STRING,
                           routeName      STRING,
                           eventDate      STRING);
""")
conn.commit()

Se verifican las tablas existentes en la base de datos.

In [35]:
##
## La función execute() permite enviar únicamente un comando SQL
## al motor de la base de datos. El siguiente comando es equivalente
## a `SHOW TABLES;` en SQL
##
cur.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()

[('truck_events',)]

A continuación se muestra la información detallada de creación de la tabla truck_events.

In [36]:
##
## La siguiente sentencia devuelve un string que
## representa los comandos sql para crear la tabla
##
cur.execute("SELECT sql FROM sqlite_master WHERE type='table' and name='truck_events';").fetchall()

[('CREATE TABLE truck_events (driverId       INT,\n                           truckId        INT,\n                           eventTime      STRING,\n                           eventType      STRING,\n                           longitude      DOUBLE,\n                           latitude       DOUBLE,\n                           eventKey       STRING,\n                           correlationId  STRING,\n                           driverName     STRING,\n                           routeId        STRING,\n                           routeName      STRING,\n                           eventDate      STRING)',)]

In [37]:
##
## Se imprime el comando sql equivalente para cada
## tabla existente en la base de datos
##
for a in cur.execute("SELECT sql FROM sqlite_master WHERE type='table';").fetchall():
    print(a[0])

CREATE TABLE truck_events (driverId       INT,
                           truckId        INT,
                           eventTime      STRING,
                           eventType      STRING,
                           longitude      DOUBLE,
                           latitude       DOUBLE,
                           eventKey       STRING,
                           correlationId  STRING,
                           driverName     STRING,
                           routeId        STRING,
                           routeName      STRING,
                           eventDate      STRING)

# Carga de datos usando INSERT INTO

Este método de carga consiste en crear una lista de tupas, donde cada elemento de la tupla es un campo de la tabla.

In [41]:

## Lectura de todo el archivo
with open('truck_event_text_partition.csv', 'rt') as f:
    data = f.readlines()

## Elimina el '\n' al final de la línea
data = [line[:-1] if line[-1] == '\n' else line for line in data]

## Separa los campos por comas
data = [line.split(',') for line in data]

## Convierte la fila en una tupla
data = [tuple(line) for line in data]

## Descarta la cabecera
data = data[1:]

## Imprime los primeros 3 registros para verificar
data[0:3]

[('14',
  '25',
  '59:21.4',
  'Normal',
  '-94.58',
  '37.03',
  '14|25|9223370572464814373',
  '3.66e+18',
  'Adis Cesir',
  '160405074',
  'Joplin to Kansas City Route 2',
  '2016-05-27-22'),
 ('18',
  '16',
  '59:21.7',
  'Normal',
  '-89.66',
  '39.78',
  '18|16|9223370572464814089',
  '3.66e+18',
  'Grant Liu',
  '1565885487',
  'Springfield to KC Via Hanibal',
  '2016-05-27-22'),
 ('27',
  '105',
  '59:21.7',
  'Normal',
  '-90.21',
  '38.65',
  '27|105|9223370572464814070',
  '3.66e+18',
  'Mark Lochbihler',
  '1325562373',
  'Springfield to KC Via Columbia Route 2',
  '2016-05-27-22')]

In [42]:

##
## Carga a partir de la lista de tuplas
## contenidas en data , tantos signos de interrogacion (?)como columnas hay
##
cur.executemany('INSERT INTO truck_events VALUES (?,?,?,?,?,?,?,?,?,?,?,?)', data)

##
## Verificación
##
cur.execute("SELECT * FROM truck_events LIMIT 1;").fetchall()

[(14,
  25,
  '59:21.4',
  'Normal',
  -94.58,
  37.03,
  '14|25|9223370572464814373',
  3660000000000000000,
  'Adis Cesir',
  160405074,
  'Joplin to Kansas City Route 2',
  '2016-05-27-22')]

# Consulta de datos

La consulta se realiza con SELECT, usando la sintaxis convencional:


SELECT
    what
FROM
    tbl_name
[WHERE where-conditions]
[ORDER BY column_name];

In [43]:
cur.execute("SELECT * FROM truck_events LIMIT 3;").fetchall()

[(14,
  25,
  '59:21.4',
  'Normal',
  -94.58,
  37.03,
  '14|25|9223370572464814373',
  3660000000000000000,
  'Adis Cesir',
  160405074,
  'Joplin to Kansas City Route 2',
  '2016-05-27-22'),
 (18,
  16,
  '59:21.7',
  'Normal',
  -89.66,
  39.78,
  '18|16|9223370572464814089',
  3660000000000000000,
  'Grant Liu',
  1565885487,
  'Springfield to KC Via Hanibal',
  '2016-05-27-22'),
 (27,
  105,
  '59:21.7',
  'Normal',
  -90.21,
  38.65,
  '27|105|9223370572464814070',
  3660000000000000000,
  'Mark Lochbihler',
  1325562373,
  'Springfield to KC Via Columbia Route 2',
  '2016-05-27-22')]