<a href="https://colab.research.google.com/github/sagudelom06/Clase-1-Ciencia-de-los-datos/blob/master/Operaciones_b%C3%A1sicas_con_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Operaciones básicas con Pandas

En este tutorial se ejemplifica:



La carga de datos

La selección básica de datos.

La exportación de resultados.

In [0]:
## importa la librería
import pandas as pd
import numpy as np
pd.set_option('display.notebook_repr_html', False)

In [52]:
truck_events = pd.read_csv(
    "https://raw.githubusercontent.com/jdvelasq/datalabs/master/datasets/drivers/truck_event_text_partition.csv",
    sep = ',',         # separador de campos
    thousands = None,  # separador de miles para números
    decimal = '.')     # separador de los decimales para números

truck_events

       driverId  truckId  ...                               routeName      eventDate
0            14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
1            18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
2            27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
3            11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
4            22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
5            22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
6            23       68  ...           Joplin to Kansas City Route 2  2016-05-27-22
7            11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
8            20       41  ...           Des Moines to Chicago Route 2  2016-05-27-22
9            32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
10           27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
11           17       15  ...          Springfield to KC Via Columbia  2016-05-27-22
12           14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
13           28       39  ...   Springfield to KC Via Hanibal Route 2  2016-05-27-22
14           15       51  ...                   Joplin to Kansas City  2016-05-27-22
15           16       12  ...                  Saint Louis to Memphis  2016-05-27-22
16           31       18  ...          Memphis to Little Rock Route 2  2016-05-27-22
17           25       96  ...                  Memphis to Little Rock  2016-05-27-22
18           14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
19           22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
20           32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
21           24       97  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22
22           25       96  ...                  Memphis to Little Rock  2016-05-27-22
23           29       66  ...          Wichita to Little Rock Route 2  2016-05-27-22
24           22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
25           18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
26           19       26  ...              Wichita to Little Rock.kml  2016-05-27-22
27           26       57  ...             Saint Louis to Tulsa Route2  2016-05-27-22
28           16       12  ...                  Saint Louis to Memphis  2016-05-27-22
29           21      109  ...          Memphis to Little Rock Route 2  2016-05-27-22
...         ...      ...  ...                                     ...            ...
17045        26       17  ...             Saint Louis to Tulsa Route2  2016-06-02-20
17046        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17047        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17048        31       48  ...           Des Moines to Chicago Route 2  2016-06-02-20
17049        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17050        26       17  ...             Saint Louis to Tulsa Route2  2016-06-02-20
17051        15       32  ...                  Memphis to Little Rock  2016-06-02-20
17052        24       68  ...               Des Moines to Chicago.kml  2016-06-02-20
17053        22       24  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17054        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17055        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17056        20       79  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17057        17       92  ...          Springfield to KC Via Columbia  2016-06-02-20
17058        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17059        14       18  ...                  Peoria to Ceder Rapids  2016-06-02-20
17060        23       66  ...                  Saint Louis to Memphis  2016-06-02-20
17061        12       74  ...                   Joplin to Kansas City  2016-06-02-20
17062        27       81  ...  Springfield to KC Via Columbia Route 2  2016-06-02-20
17063        13       12  ...                  Saint Louis to Chicago  2016-06-02-20
17064        24       68  ...               Des Moines to Chicago.kml  2016-06-02-20
17065        21      105  ...          Memphis to Little Rock Route 2  2016-06-02-20
17066        11       27  ...           Saint Louis to Chicago Route2  2016-06-02-20
17067        30       95  ...           Saint Louis to Chicago Route2  2016-06-02-20
17068        31       48  ...           Des Moines to Chicago Route 2  2016-06-02-20
17069        22       24  ...          Peoria to Ceder Rapids Route 2  2016-06-02-20
17070        11       27  ...           Saint Louis to Chicago Route2  2016-06-02-20
17071        16       46  ...           Joplin to Kansas City Route 2  2016-06-02-20
17072        18       49  ...           Springfield to KC Via Hanibal  2016-06-02-20
17073        10       39  ...                    Saint Louis to Tulsa  2016-06-02-20
17074        19      100  ...              Wichita to Little Rock.kml  2016-06-02-20

[17075 rows x 12 columns]

Se verifican las propiedades de la tabla después de la carga de datos.

In [47]:
len(truck_events)

17075

CON ESTE CODIGO CONSULTO LOS TITULOS DE LAS COLUMNAS

In [48]:
truck_events.columns

Index(['driverId', 'truckId', 'eventTime', 'eventType', 'longitude',
       'latitude', 'eventKey', 'CorrelationId', 'driverName', 'routeId',
       'routeName', 'eventDate'],
      dtype='object')

CONSULTO LA INFORMACION PRINCIPAL DE LA TABLA

In [49]:
truck_events.describe()

           driverId       truckId  ...  CorrelationId       routeId
count  17075.000000  17075.000000  ...   1.707500e+04  1.707500e+04
mean      21.043104     55.424480  ...   5.373716e+17  1.034766e+09
std        6.612549     28.936049  ...   1.295419e+18  6.233880e+08
min       10.000000     10.000000  ...   1.000000e+03  2.492948e+07
25%       15.000000     27.000000  ...   1.000000e+03  3.711828e+08
50%       21.000000     55.000000  ...   1.000000e+03  1.198243e+09
75%       27.000000     81.000000  ...   1.000000e+03  1.565885e+09
max       32.000000    109.000000  ...   3.660000e+18  1.962262e+09

[8 rows x 6 columns]

# Visualización de datos

Para visualizar la cabecera de los archivos

In [50]:
## para visualizar los primeros 10 filas
truck_events.head(10)

   driverId  truckId  ...                               routeName      eventDate
0        14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
1        18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
2        27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
3        11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
4        22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
5        22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
6        23       68  ...           Joplin to Kansas City Route 2  2016-05-27-22
7        11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
8        20       41  ...           Des Moines to Chicago Route 2  2016-05-27-22
9        32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22

[10 rows x 12 columns]

In [0]:
#para visualizar las ultimas 10 filas
truck_events.tail(10)

       driverId  truckId  ...                       routeName      eventDate
17065        21      105  ...  Memphis to Little Rock Route 2  2016-06-02-20
17066        11       27  ...   Saint Louis to Chicago Route2  2016-06-02-20
17067        30       95  ...   Saint Louis to Chicago Route2  2016-06-02-20
17068        31       48  ...   Des Moines to Chicago Route 2  2016-06-02-20
17069        22       24  ...  Peoria to Ceder Rapids Route 2  2016-06-02-20
17070        11       27  ...   Saint Louis to Chicago Route2  2016-06-02-20
17071        16       46  ...   Joplin to Kansas City Route 2  2016-06-02-20
17072        18       49  ...   Springfield to KC Via Hanibal  2016-06-02-20
17073        10       39  ...            Saint Louis to Tulsa  2016-06-02-20
17074        19      100  ...      Wichita to Little Rock.kml  2016-06-02-20

[10 rows x 12 columns]

In [0]:

truck_events_subset = truck_events[0:10]
truck_events_subset

   driverId  truckId  ...                               routeName      eventDate
0        14       25  ...           Joplin to Kansas City Route 2  2016-05-27-22
1        18       16  ...           Springfield to KC Via Hanibal  2016-05-27-22
2        27      105  ...  Springfield to KC Via Columbia Route 2  2016-05-27-22
3        11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
4        22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
5        22       87  ...           Saint Louis to Chicago Route2  2016-05-27-22
6        23       68  ...           Joplin to Kansas City Route 2  2016-05-27-22
7        11       74  ...           Saint Louis to Memphis Route2  2016-05-27-22
8        20       41  ...           Des Moines to Chicago Route 2  2016-05-27-22
9        32       42  ...          Peoria to Ceder Rapids Route 2  2016-05-27-22

[10 rows x 12 columns]

# Obtención de un subconjunto de columnas

En el siguiente código se obtienen algunas columnas de la tabla truck_events_subset para ser almacenadas en una tabla diferente.

In [0]:
specific_columns = truck_events_subset[['driverId', 'eventTime', 'eventType']]
specific_columns

   driverId eventTime eventType
0        14   59:21.4    Normal
1        18   59:21.7    Normal
2        27   59:21.7    Normal
3        11   59:21.7    Normal
4        22   59:21.7    Normal
5        22   59:22.3    Normal
6        23   59:22.4    Normal
7        11   59:22.5    Normal
8        20   59:22.5    Normal
9        32   59:22.5    Normal

Obtención de un subconjunto de filas y columnas
# Nueva sección


1.   con .loc saco las filas y las columnas

el orden siempre es primero filas y despues columnas

In [0]:
new_sub_set = truck_events.loc[0:10, ['driverId', 'eventTime', 'eventType']]
new_sub_set

    driverId eventTime eventType
0         14   59:21.4    Normal
1         18   59:21.7    Normal
2         27   59:21.7    Normal
3         11   59:21.7    Normal
4         22   59:21.7    Normal
5         22   59:22.3    Normal
6         23   59:22.4    Normal
7         11   59:22.5    Normal
8         20   59:22.5    Normal
9         32   59:22.5    Normal
10        27   59:22.6    Normal

# Obtención de un campo de un registro en particular

In [0]:
truck_events.iloc[1]

driverId                                    18
truckId                                     16
eventTime                              59:21.7
eventType                               Normal
longitude                               -89.66
latitude                                 39.78
eventKey             18|16|9223370572464814089
CorrelationId                         3.66e+18
driverName                           Grant Liu
routeId                             1565885487
routeName        Springfield to KC Via Hanibal
eventDate                        2016-05-27-22
Name: 1, dtype: object

In [43]:
new_sub_set2 = truck_events.iloc[0:10, [0,1,2]]
new_sub_set2

   driverId  truckId eventTime
0        14       25   59:21.4
1        18       16   59:21.7
2        27      105   59:21.7
3        11       74   59:21.7
4        22       87   59:21.7
5        22       87   59:22.3
6        23       68   59:22.4
7        11       74   59:22.5
8        20       41   59:22.5
9        32       42   59:22.5

In [0]:
truck_events.iloc[1].eventKey

'18|16|9223370572464814089'

In [0]:
truck_events.iloc[1]['eventKey']

'18|16|9223370572464814089'

# Escritura de la tabla en el disco
Seguidamente, se procede a escribir el contenido de la tabla en el directorio tmp/ de la carpeta actual.

In [0]:

!mkdir -p tmp

In [0]:
specific_columns.to_csv(
    'tmp/specific-columns.csv',
    sep = ',',
    header = True,
    index = False)

In [0]:
##
## Se visualiza el contenido del directorio
##
!ls tmp/

specific-columns.csv

In [53]:

##
## Se visualiza la parte final del archivo
##
!cat tmp/specific-columns.csv

driverId,eventTime,eventType
14,59:21.4,Normal
18,59:21.7,Normal
27,59:21.7,Normal
11,59:21.7,Normal
22,59:21.7,Normal
22,59:22.3,Normal
23,59:22.4,Normal
11,59:22.5,Normal
20,59:22.5,Normal
32,59:22.5,Normal

In [0]:
Borrar todo

###!rm -rf tmp/